In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("datasets/Market_Basket_Optimisation.csv",header=None)
df =df.fillna('')
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,,,,,,,,,,,,,,,,,
2,chutney,,,,,,,,,,,,,,,,,,,
3,turkey,avocado,,,,,,,,,,,,,,,,,,
4,mineral water,milk,energy bar,whole wheat rice,green tea,,,,,,,,,,,,,,,

In [3]:
List_Items=[]
for i in range(7501):
    l1=list()
    l1=list(df.iloc[i])
    List_Items.append(l1)

In [4]:
new_list = []
for x in List_Items:
    l1=list()
    for y in x:
        if y != '':
            l1.append(y)
    new_list.append(l1)

In [5]:
ItemCount=dict()
for j in range(7501):
    for i in df.columns:
        if (df.iloc[j,i]==''):
            break
        elif (df.iloc[j,i] not in ItemCount):
            ItemCount[df.iloc[j,i]]=1
        else:
            ItemCount[df.iloc[j,i]]=ItemCount[df.iloc[j,i]]+1

In [6]:
ItemCount

{'shrimp': 536,
 'almonds': 153,
 'avocado': 250,
 'vegetables mix': 193,
 'green grapes': 68,
 'whole weat flour': 70,
 'yams': 86,
 'cottage cheese': 239,
 'energy drink': 200,
 'tomato juice': 228,
 'low fat yogurt': 574,
 'green tea': 991,
 'honey': 356,
 'salad': 37,
 'mineral water': 1788,
 'salmon': 319,
 'antioxydant juice': 67,
 'frozen smoothie': 475,
 'spinach': 53,
 'olive oil': 494,
 'burgers': 654,
 'meatballs': 157,
 'eggs': 1348,
 'chutney': 31,
 'turkey': 469,
 'milk': 972,
 'energy bar': 203,
 'whole wheat rice': 439,
 'whole wheat pasta': 221,
 'french fries': 1282,
 'soup': 379,
 'light cream': 117,
 'shallot': 58,
 'frozen vegetables': 715,
 'spaghetti': 1306,
 'pet food': 49,
 'cookies': 603,
 'cooking oil': 383,
 'champagne': 351,
 'chocolate': 1230,
 'chicken': 450,
 'oil': 173,
 'fresh tuna': 167,
 'tomatoes': 513,
 'black tea': 107,
 'extra dark chocolate': 90,
 'protein bar': 139,
 'red wine': 211,
 'pasta': 118,
 'pepper': 199,
 'shampoo': 37,
 'rice': 141,
 'sparkling water': 47,
 'ham': 203,
 'body spray': 86,
 'pancakes': 713,
 'grated cheese': 393,
 'white wine': 124,
 'toothpaste': 61,
 'parmesan cheese': 149,
 'fresh bread': 323,
 'ground beef': 737,
 'escalope': 595,
 'herb & pepper': 371,
 'tomato sauce': 106,
 'magazines': 82,
 'strawberries': 160,
 'strong cheese': 58,
 'pickles': 45,
 'cake': 608,
 'hot dogs': 243,
 'brownies': 253,
 'cereals': 193,
 'clothes accessories': 63,
 'bug spray': 65,
 'muffins': 181,
 'light mayo': 204,
 'gums': 101,
 'soda': 47,
 'cider': 79,
 'corn': 36,
 'yogurt cake': 205,
 'mint': 131,
 'butter': 226,
 'asparagus': 35,
 'french wine': 169,
 'salt': 69,
 'tea': 29,
 'barbecue sauce': 81,
 'mayonnaise': 46,
 'zucchini': 71,
 'carrots': 115,
 'mushroom cream sauce': 143,
 'candy bars': 73,
 'chili': 46,
 'mashed potato': 31,
 'nonfat milk': 78,
 'water spray': 3,
 'chocolate bread': 32,
 'mint green tea': 42,
 'eggplant': 99,
 'blueberries': 69,
 'bacon': 65,
 'fromage blanc': 102,
 'gluten free bar': 52,
 'dessert wine': 33,
 'flax seed': 68,
 'hand protein bar': 39,
 'sandwich': 34,
 'babies food': 34,
 'melons': 90,
 'cauliflower': 36,
 'green beans': 65,
 'ketchup': 33,
 'bramble': 14,
 'burger sauce': 44,
 'oatmeal': 33,
 ' asparagus': 1,
 'cream': 7,
 'napkins': 5}

In [7]:
def ItemDicttoFrame(d1):
    d1 = pd.DataFrame.from_dict(d1,orient='index')
    d1.rename(columns={0:'Counts'},inplace=True)
    d1.index.name='Items'
    d1.reset_index(inplace=True)
    d1.sort_values(by=['Counts'],ascending=False,inplace=True,ignore_index=True)
    return d1

In [8]:
Item1Counts = ItemDicttoFrame(ItemCount)
Item1Counts

             Items  Counts
0    mineral water    1788
1             eggs    1348
2        spaghetti    1306
3     french fries    1282
4        chocolate    1230
..             ...     ...
115        bramble      14
116          cream       7
117        napkins       5
118    water spray       3
119      asparagus       1

[120 rows x 2 columns]

In [9]:
Item1Counts['Counts'].describe()

count     120.000000
mean      244.691667
std       317.840793
min         1.000000
25%        56.750000
50%       117.500000
75%       269.500000
max      1788.000000
Name: Counts, dtype: float64

In [10]:
Freq1 = Item1Counts[Item1Counts['Counts']>117]
Freq1

                   Items  Counts
0          mineral water    1788
1                   eggs    1348
2              spaghetti    1306
3           french fries    1282
4              chocolate    1230
5              green tea     991
6                   milk     972
7            ground beef     737
8      frozen vegetables     715
9               pancakes     713
10               burgers     654
11                  cake     608
12               cookies     603
13              escalope     595
14        low fat yogurt     574
15                shrimp     536
16              tomatoes     513
17             olive oil     494
18       frozen smoothie     475
19                turkey     469
20               chicken     450
21      whole wheat rice     439
22         grated cheese     393
23           cooking oil     383
24                  soup     379
25         herb & pepper     371
26                 honey     356
27             champagne     351
28           fresh bread     323
29                salmon     319
30              brownies     253
31               avocado     250
32              hot dogs     243
33        cottage cheese     239
34          tomato juice     228
35                butter     226
36     whole wheat pasta     221
37              red wine     211
38           yogurt cake     205
39            light mayo     204
40                   ham     203
41            energy bar     203
42          energy drink     200
43                pepper     199
44               cereals     193
45        vegetables mix     193
46               muffins     181
47                   oil     173
48           french wine     169
49            fresh tuna     167
50          strawberries     160
51             meatballs     157
52               almonds     153
53       parmesan cheese     149
54  mushroom cream sauce     143
55                  rice     141
56           protein bar     139
57                  mint     131
58            white wine     124
59                 pasta     118

In [11]:
from itertools import combinations

In [12]:
def CandidateItemGeneration(c=2,freq=Freq1):
    d1 = dict()
    List1 = list(combinations(Freq1.Items,c))
    for i in List1:
        d1[i]=0
        for x in new_list:
            count=0
            for j in i:
                if j in x:
                    count=count+1
            if count==c:
                d1[i]=d1[i]+1
    return d1

In [13]:
Item2Counts = CandidateItemGeneration()
Item2Counts = ItemDicttoFrame(Item2Counts)

In [14]:
Item2Counts['Items'] = Item2Counts['Items'].map(lambda x: str(x).lstrip(r"(").rstrip(r")"))
Item2Counts

                                       Items  Counts
0               'mineral water', 'spaghetti'     448
1               'mineral water', 'chocolate'     395
2                    'mineral water', 'eggs'     382
3                    'mineral water', 'milk'     360
4             'mineral water', 'ground beef'     307
...                                      ...     ...
1765                  'cookies', 'meatballs'       0
1766  'energy drink', 'mushroom cream sauce'       0
1767                       'butter', 'pasta'       0
1768           'ham', 'mushroom cream sauce'       0
1769                    'mint', 'white wine'       0

[1770 rows x 2 columns]

In [15]:
Item2Counts['Counts'].describe()

count    1770.000000
mean       31.985311
std        43.125316
min         0.000000
25%         9.000000
50%        17.000000
75%        37.000000
max       448.000000
Name: Counts, dtype: float64

In [16]:
Item2Counts[Item2Counts['Counts']>17].head()

                            Items  Counts
0    'mineral water', 'spaghetti'     448
1    'mineral water', 'chocolate'     395
2         'mineral water', 'eggs'     382
3         'mineral water', 'milk'     360
4  'mineral water', 'ground beef'     307